.Centered{
    text-align: center;
}

.Left{
    text-align: left;
}

.Fixed{
    position: fixed;
}

.Bold{
    font-weight: bolder;
}

.Button{
    transition: all 150ms;
}

.Shadow{
    box-shadow: 0px 0px 10px rgb(125,125,125);
}


.translucid{
    background-color: rgba(255,255,255,0.95);
}

.Btn{
    padding-top: 10px; padding-bottom: 10px;
    height: 60%;
    border: 0px;
    border-radius: 0.5rem;
    background-color: rgba(220,220,220);
    padding: 5px;
    width: 10rem;
}

.Box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255,255,255);
    height: 25rem;
    width: 40%;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgb(125,125,125);
    transition: all 300ms;
}

.List{
    width: 95%;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 10px rgb(125,125,125);
    padding: 20px;
    border-radius: 0.5rem;
    transition: all 300ms;
}

.Options{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255,255,255,0.85);
    padding: 10px;
    border: 0px;
    border-radius: 0.5rem;
    right: 5rem;
    top: 33%;
    height: 17rem;
    width: 20%;
    transition: all 300ms;
}

.Options>form{
    height: 40%;
}

.Slider{
    padding: 0;
    left: 0.5%;
    top: 0%;
}

.Slider>ul{
    padding: 5px;
    margin: 0px;
    background-color: rgba(255,255,255,1);
    border-radius: 2rem;
    text-align: center;
}

.Slider>ul>li{
    margin-top: 2px;
    transition: all 300ms;
    text-align: center;
}

.Background{
    background-image: url("../img/wallpaperflare.com_wallpaper.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #b8cdd4;
    background-position: -100px 100px;
}

.Background-Alpha{
	background: url("../img/agenda_bkg.jpg") repeat fixed 100%;
}

.Background-Alpha-2{
	background: url("../img/profile_bkg.jpg") repeat fixed 100%;
}

.DeleteBtn{
    position: relative;
    border: 0px;
    border-radius: 50%;
    background-color: #e05a63;
    color: white;
    bottom: 10%;
    transition: all 200ms;
}

li{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table{
    position: relative;
    right: 13%;

    transition: all 300ms;
    width: 65%;
    background-color: rgb(255,255,255);
    padding: 10px;
    border-radius: 0.5rem;
}

form#tabform,form#tabform > input{
    width: 100%;
}

form#tabform{
    height: 2rem;
}

form#tabform > input{
    border: 0px;
    border-radius: 0.5rem;
    background-color: rgba(220,220,220,0.95);
    height: 100%;
    transition: all 300ms;
}

form#modform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form#editform{
    margin-left: 20px;
}

form#modform>input{
    margin-top: 3px;
}

input#submit{
    margin-top: 10px;
    background-color: rgb(220,220,220);
    border: 0px;
    height: 50px;
    border-radius: 0.5rem;
    transition: all 300ms;
}

input#searchimg{
    position: absolute;
    top: 30%;
    right: 15%;
    
}

ul{
    list-style-type: none;
}

ul#slider>li>a{
    border-radius: 40%;
}

td#nocontacts{
    padding: 2rem;
    font-weight: bold;
    text-decoration: underline 2px;
}
